<div class="row shadow pt-3 pb-3">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
          <button class="btn btn-success" (click)="onNewRecipe()">New recipe</button>
      </div>
  </div>

  <hr>
  <div class="row">
      <div class="col-12 ">
          <div class="list-group" *ngIf="recipes; else spinner">
              <app-recipe-item *ngFor="let recipe of recipes; let i = index" [recipe]="recipe"></app-recipe-item>
          </div>
      </div>
  </div>

  </div>
</div>
<ng-template #spinner>
  <div class="row justify-content-center align-content-center" style="height: 100px;">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
