<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success">New recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 ">
        <div class="list-group">
            <a href="#" class="list-group-item d-flex justify-content-between" *ngFor="let recipe of recipes">
                <div class="">
                    <h4>{{recipe.name}}</h4>
                    <p>{{recipe.description}}</p>
                </div>
                <div class="">
                    <img [src]="recipe.imgpath" [alt]="recipe.name" class="img-fluid" style="max-height: 50px">
                </div>
            </a>
        </div> 
    </div>
</div>
<app-recipe-item></app-recipe-item>