<div class="card mb-3">
  <div class="card-header">
    <app-profile-info [userId]="recipe.creator"></app-profile-info>

  </div>
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="recipe.imgpath" class="card-img" style="height: 100%;" [alt]="recipe.name">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{recipe.name}}</h5>
        <p class="card-text">{{recipe.description}}</p>
        <p class="card-text">Likes <span class="badge badge-success">47</span></p>
        <div class="row card-text">
        <p class="col-2"><span class="badge badge-primary">CHIKEND</span></p>
        <p class="col-2"><span class="badge badge-primary">FRIED</span></p>
        </div>

        <p class="card-text"><small class="text-muted">posted 02/05/2020</small></p>

        <a role="buttom" class="btn btn-outline-info" [routerLink]="['/recipe.id']" > Ver detalles</a>
      </div>
    </div>
  </div>
</div>
