<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <a class="navbar-brand">RecipesApp</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto"> 
            <li class="nav-item">
                <a class="nav-link">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Shop</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" role="button">dropdown</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">save data</li>
                    <li class="dropdown-item">fecth data</li>
                </ul>

            </li>
        </ul>

        
    </div>
</nav>