<div class="row shadow pt-3 pb-3">
  <!-- steps -->
  <div class="col-12">
    <app-step [steps]="steps" [activeStep]="activeStep"></app-step>
  </div>

  <!-- steps controller-->
  <div
    class="col-12 form-group d-flex mt-3 mb-3 justify-content-start"
    [ngClass]="
      activeStep > 0 ? 'justify-content-between' : 'justify-content-end'
    "
  >
    <button
      type="button"
      class="btn btn-primary mr-2"
      (click)="onPrevStep()"
      *ngIf="activeStep > 0"
    >
      Prev
    </button>
    <button
      type="button"
      class="btn btn-primary mr-2"
      (click)="onNextStep()"
      [disabled]="!editForm.get('step' + activeStep).valid"
      *ngIf="!readOnly"
    >
      Next
    </button>
  </div>

  <!-- Form -->
  <div class="col-12" *ngIf="!loading; else spinner">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="editForm"
      class="overflow-hidden p-3"
    >
      <!-- firts step -->
      <div
        class="row border p-2 mb-2"
        [ngClass]="directionright ? 'slideIn' : 'slideOut'"
        *ngIf="activeStep === 0 || readOnly"
        [formGroup]="editForm.get('step0')"
      >
        <div class="col-12 mb-3">
          <h5>Basic information</h5>
        </div>

        <div class="col-12 form-group">
          <label for="name">Name</label>
          <input
            [readonly]="readOnly"
            formControlName="name"
            id="name"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-12 form-group">
          <label for="description">Description</label>
          <input
            [readonly]="readOnly"
            formControlName="description"
            id="description"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-12 form-group">
          <label for="imagUrl">image URL</label>
          <input
            [readonly]="readOnly"
            formControlName="imgUrl"
            id="imagUrl"
            type="text"
            class="form-control"
            (keyup)="getImg()"
          />
        </div>
        <div class="col-12 form-group loader">
          <img
            [src]="activeImage"
            alt=""
            class="img-thumbnail"
            (load)="imgLoad()"
            (error)="onabort()"
          />
        </div>
      </div>

      <!-- second step -->
      <div
        class="row border p-2 mb-2"
        *ngIf="activeStep === 1 || readOnly"
        [ngClass]="directionright ? 'slideIn' : 'slideOut'"
      >
        <div class="col-12 mb-3">
          <h5>Ingredients</h5>
        </div>

        <div class="col-12" formArrayName="step1">
          <div
            class="row form-group"
            *ngFor="
              let ingredient of editForm.get('step1')['controls'];
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="col-7">
              <input
                type="text"
                [readonly]="readOnly"
                class="form-control"
                formControlName="name"
              />
            </div>
            <div class="col-3">
              <input
                [readonly]="readOnly"
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-1" *ngIf="!readOnly">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)"
              >
                X
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 form-group text-center" *ngIf="!readOnly">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onNewIngredient()"
          >
            new Ingredient
          </button>
        </div>
      </div>

      <!--  third step -->
      <div
        class="row border p-2 mb-2"
        *ngIf="activeStep === 2 || readOnly"
        [ngClass]="directionright ? 'slideIn' : 'slideOut'"
        formArrayName="step2"
      >
      <h5>Instructions</h5>
        <div
          class="col-12"
          *ngFor="let steps of editForm.get('step2')['controls']; let i = index"
          [ngClass]="directionright ? 'slideIn' : 'slideOut'"
        >
          <div class="form-group row" [formGroupName]="i">
            <div class="col-10">
              <label for="description">Step # {{ i + 1 }}</label>
              <textarea
                [readOnly]="readOnly"
                formControlName="description"
                [id]="'step' + i"
                cols="5"
                class="form-control col-10"
              ></textarea>
            </div>
            <div class="col-2 align-self-center ">
              <button
                class="btn btn-danger"
                type="button"
                (click)="ondeleteIntruction(i)"
              >
                X
              </button>
            </div>
          </div>
        </div>

        <div class="col-12 form-group text-center " *ngIf="!readOnly">
          <button type="button" class="btn btn-primary" (click)="onNewStep()">
            New Step
          </button>
        </div>
      </div>

      <!--  Submit Buttons -->
      <div class="row">
        <div class="col-12 form-group" *ngIf="activeStep >= steps.length - 1">
          <button
            type="submit"
            [disabled]="!editForm.valid"
            class="btn btn-success mr-2"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-danger mr-2"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--  Submit spinner -->
<ng-template #spinner>
  <div class="col-12 text-center p-5">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
