<div
  class="row shadow pt-3 pb-3"
  *ngIf="(edit && recipe) || !edit; else loading"
>
  <!-- steps -->
  <div class="col-12">
    <app-step [steps]="steps" [activeStep]="activeStep"></app-step>
  </div>


  <!-- steps controller-->
  <div class="col-12 form-group d-flex mt-3 mb-3 justify-content-start" [ngClass]=" activeStep > 0 ? 'justify-content-between':'justify-content-end'">
    <button
      type="button"
      class="btn btn-primary mr-2"
      (click)="onPrevStep()"
      *ngIf="activeStep > 0"
    >
      Prev
    </button>
    <button
      type="button"
      class="btn btn-primary mr-2"
      (click)="onNextStep()"
      [disabled]="!editForm.get('step'+ activeStep).valid"
      *ngIf="!readOnly"
    >
      Next
    </button>
  </div>

  <!-- Form -->
  <div class="col-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
      <div class="row">
        <div class="col-12 form-group" *ngIf="activeStep >= steps.length - 1">
          <button
            type="submit"
            [disabled]="!editForm.valid"
            class="btn btn-success mr-2"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-danger mr-2"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <!-- firts step -->
      <div
        class="row"
        *ngIf="activeStep === 0 || readOnly"
        [formGroup]="editForm.get('step0')"
      >
        <div class="col-12 form-group">
          <label for="name">Name</label>
          <input
          [readonly]="readOnly"
            formControlName="name"
            id="name"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-12 form-group">
          <label for="imgUrl">Img Url</label>
          <input
          [readonly]="readOnly"
            formControlName="imgUrl"
            id="imgUrl"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col-12 form-group">
          <img
            [src]="editForm.get('step0').get('imgUrl').value || 'assets/images/img-placeholder.jpg'"
            alt=""
            class="img-thumbnail"
          />
        </div>
      </div>

      <!-- second step -->
      <div class="row" *ngIf="activeStep === 1 || readOnly">
        <div class="col-12" formArrayName="step1">
          <div
            class="row form-group"
            *ngFor="
              let ingredient of editForm.get('step1')['controls'];
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="col-7">
              <input type="text" [readonly]="readOnly" class="form-control" formControlName="name" />
            </div>
            <div class="col-3">
              <input
                [readonly]="readOnly"
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-1" *ngIf="!readOnly">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)"
              >
                X
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 form-group text-center" *ngIf="!readOnly">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onNewIngredient()"
          >
            new Ingredient
          </button>
        </div>
      </div>

      <!--  third step -->
      <ng-container *ngIf="activeStep === 2 || readOnly" formArrayName="step2">
        <div
          class="row"
          *ngFor="let steps of editForm.get('step2')['controls']; let i = index"
        >
          <div class="col-12 form-group" [formGroupName]="i">
            <label for="description">Step # {{ i + 1 }}</label>
            <textarea
              [readOnly]="readOnly"
              formControlName="step"
              [id]="'step' + i"
              cols="5"
              class="form-control"
            ></textarea>
          </div>
        </div>
        <div class="row " *ngIf="!readOnly">
          <div class="col-12 form-group text-center">
            <button type="button" class="btn btn-primary" (click)="onNewStep()">
              New Step
            </button>
          </div>
        </div>
      </ng-container>
      <!-- /  third step -->
    </form>
  </div>
</div>
<ng-template #loading>
  <div>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

{{editForm.get('step'+0).valid}}
