.step-container{
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1rem;
  position: relative;
  justify-content: space-between;
  counter-reset: step;
  overflow: hidden;
}

.step-container li{
flex: 1 1 0px;
text-align: center;
position: relative;
margin-right:.5rem;
}

.step-container li::before{
  padding: 0;
  margin: 0;
  text-align: center;
  margin: auto;
  content:counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  line-height: 30px;
  background-color: #fff;
  border: 3px solid #ddd;
  border-radius: 50%;
  display: block;
  transition:all .3s;

}
.step-container li.active::before{
  border: 3px solid green;

  transition-delay: .5s;

}
.step-container li span{
  width: 130%;
  height: 3px;
  background-color: #ddd ;
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateX(-50%);
  z-index: -1;
 }

 .step-container li span::after{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: green ;
  transform: scaleX(0);
  transition: all 1s;
  transform-origin: left;
}

.step-container li.active{
  color:green;
}

.step-container li.active span::after{
  background-color:green;
  transform: scaleX(1);
}

.step-container li.success{
color:green;
}
.step-container li.success:before{
  color:#fff;
  border: 3px solid green;
  background-color: green;
  animation: growUp .5s ease-out 1;
}
.step-container li.success span::after{
  background-color: green;
  transform: scaleX(1);
}

@keyframes growUp {
  70%{
    transform: scale(1.3);
  }
  to{
    transform: scale(1);
  }
}
